*{
    margin: auto;
}
/* Cores padrão */
:root{
    --lilas: #D8BFD8;
    --lilas_forte:#DDA0DD;
    --azul:#B0E0E6;
    --azul_fraco:#E0FFFF;
}

/* TÍTULOS*/
.cortitulos{color: black; 
    font: size 15px;

}

p{
    color: black;
}
p,h1,h2,h3{
    text-align: center;
}

/* caixas de texto*/

.caixa{
    margin: 15px;
    width: auto; /* LARGURA*/
    height: auto; /* Altura*/
    border: solid 2px;
    border-radius: 0px;
    background-color: var(--azul);
    padding: 8px;

}

.imagem {
    margin:auto; 
    width:250px;
}

/* FORMATAÇÃO MENU*/

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    border-radius: 2px;
    border-color: var(--azul);
    background-color: var(--lilas);
  }
  
#menu ul li{display: inline;}

#menu  ul li a {
    padding: 2px 10px;
    display: inline-block;
    color: #000;
    padding: 0;
    text-decoration: none;

  }
  
  /* Change the link color on hover */
#menu ul li a:hover {
    background-color: var(--lilas_forte);
    color: white;
  }
